#chat {
	height: 600px;
	position: absolute;
	top: 0;
	right: 5px;
	width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	background: #010101;
	color: #fefefe;
}

#new_chat_message,
#chat_name {
	position: absolute;
	height: 50px;
	top: 625px;
	right: 6px;
	width: 240px;
	padding: 0;
	border: 5px solid #010101;
	display: block;
}

#chat_name {
	height: 20px;
	top: 600px;
}

.chat-message .name {
	font-weight: bold;
}