body { 
	font-family: monospace;
}

.chat-container {
	position: absolute;
	top: 0;
	right: 0px;
	width: 0px;
	background: #010101;
	padding: 5px;
}

.chat-container.active {
	width: 250px;
}

#chat {
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 14px;
}

#new_chat_message,
#chat_name {
	height: 50px;
	width: 100%;
	padding: 0;
	margin-top: 5px;
	display: block;
	border: 0px;
}

#chat_name {
	height: 20px;
}

.chat-message {
	margin-bottom: 2px;	
	color: snow;
}

.chat-message .name {
	font-weight: bold;
	color: silver;
}

#current-maps li{
	color: blue;
}

#current-maps li:hover{
	text-decoration: underline;
	cursor: pointer;
}

.chat-toggle-button {
	position:absolute;
	left: -50px;
	top: 0px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: silver;
	text-align: center;
}

.chat-toggle-button:after {
	content: "<<";
	display: inline;
}


.chat-container.active .chat-toggle-button:after {
	content: ">>";
}